.hei{
	height: 1000px;
}
.container {
    margin-top: 1rem;
}
.navbar{
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    position: fixed;
    background-color: greenyellow;
    height: 60px;
}

.navbar-brand {
    display: inline;
    font-size: 4rem;
    padding: 15px 30px;
}

.main-con{
    margin-top: 70px;
}