{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Calendar{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'cals/css/styles.css' %}">
{% endblock style %}
{% block content %}
<div class="clearfix">
	<div class="row">
		<div class="col-4 text-right" style="margin:auto;"><a href="{% url 'calendar:calendar' prev_month %}"><i class="fas fa-chevron-left fa-2x"></i></a></div>
		<div class="col-4 font-weight-bold text-center" style="font-size:2rem;">{{ month_name }}</div>
		<div class="col-4 text-left" style="margin:auto;"><a href="{% url 'calendar:calendar' next_month %}"><i class="fas fa-chevron-right fa-2x"></i></a></div>
	</div>
</div>

<table border="0" cellpadding="0" cellspacing="0" class="calendar">
	<tr>
		<th class="mon font-weight-normal">Mon</th>
		<th class="tue font-weight-normal">Tue</th>
		<th class="wed font-weight-normal">Wed</th>
		<th class="thu font-weight-normal">Thu</th>
		<th class="fri font-weight-normal">Fri</th>
		<th class="sat font-weight-normal">Sat</th>
		<th class="sun font-weight-normal">Sun</th>
	</tr>
	{{ calendar }}
</table>

<!-- The Modal for inserting date -->
{% if request.user.is_authenticated  %}
{% include "cals/_modal_1.html" %}

<!-- The Modal for displaying all data -->
{% include "cals/_modal_2.html" %}
{% else %}
<script>
	const checkBoxes = document.querySelectorAll('.date')
    checkBoxes.forEach( checkBox => {
        checkBox.addEventListener('click', function(event) {
					location.href = "/accounts/login/"
			})
	})
</script>
{% endif %}
{% endblock %}